.user_profile {
    padding-top: 25px;
    width: 100%;
    padding-bottom: 15px;
}
.user_profile .col-lg-8 .form-group {
    padding: 25px 0px;
}
button.profile-btn-update {
    background-color: #006600;
    color: white;
    border: none;
    outline: none;
    padding: 10px;
}
button.profile-btn-update:hover {
    color: black;
}
button.prifle-btn-detele {
    background-color: red;
    border: none;
    color: white;
    margin: 15px;
}
label.tablinks {
    font-size: 20px;
    padding-left: 15px;
    padding: 12px;
}

tbody.user-table tr td img{
    width: 100%;
}
tbody.user-table tr td{
    text-align: center;
    vertical-align: middle;
}

thead.user-table tr th{
    text-align: center;
    vertical-align: middle;
}
td.action button{
    margin: 5px;
}