ul.profile-category {
    list-style: none;
    margin: 25px 0px;
    padding: 0;
    background-color: #f1f1f1;
    margin-left: 30px;
}
ul.profile-category>li:first-child{
    background-color: #3B6E23;
    color: white;
}

ul.profile-category li a{
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

ul.profile-category li a:hover:not(.active){
    background-color: #131212;
    color: white;
}
i.fa.fa-angle-down {
    font-size: 25px;
    font-weight: 700;
}