*{
    line-height: 22px;
    margin: 0px;
}
.container {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;

}
.row {
    float: left;
    width: 100%;
}

.event-left {
    float: left;
    width: 50%;
}
.disadvantaged {
    float: right;
    width: 50%;
    margin-bottom: 25px;
}

h4.title {
    padding-left: 56px;
    padding-bottom: 15px;
}


.month-slide {
    margin-top: 25px;
}

.month-title {
    margin-left: 360px;
}